$color-primary: #fff;
$color-secondary: #f3f3f3;
$color-text-primary: #0e0e0e;
$color-text-secondary: #a2a2a2;

$mobile-width: 480px; 
$tablet-width: 768px; 
$desktop-width: 1024px;  


.App {
  text-align: center;
  padding-bottom: 10rem;
  .border-top {
    border-top: solid 1px black;
  }
}

.header {
  
  .container {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      margin-top: 2rem;
      border: none;
      background-color: transparent;
      width: 5rem;
      height: 5rem;
      .icon {
        font-size: 1.5rem;
        width: 3rem;
      }
      :hover {
        background-color: $color-secondary;
      }
    }
    img {
      width: 8rem;
    }
    .place-holder:after {
      width: 80px;
      content: '.';
    visibility: hidden;
      display: inline-block;
    }
    .nav-menu {
    background-color: white;
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    flex-direction: column;
  
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0px;
    left:-100% ;
    transition: all ease 0.5s ;
      button {
        margin-top: 2rem;
        margin-left: 15rem;
        border: none;
        background-color: transparent;
        width: 5rem;
        height: 5rem;
        .icon {
          font-size: 2rem;
          width: 3rem;
        };
        :hover {
          background-color: $color-secondary;
        }
      }
      .nav-container{
        margin-top: 5rem;
        text-align: left;
        padding: 0 1rem;
        a {
          display: block;
          font-size: 3rem;
          margin-bottom: 1.5rem;
        }

      }

    }
    .nav-menu-active {
      // display: flex;
      // align-items: center;
      // list-style: none;
      // text-align: center;
      // flex-direction: column;
      
      // width: 100%;
      //   height: 100vh;
        position: absolute;
        top: 0px;
        left: 0%;
    }
  }
}
.overall {
  .container{
    margin-bottom: 3rem;
    .title{
      font-family: 'Playfair Display', serif;
      font-size: 0.7rem;
      letter-spacing: 3px;
    }
    .item{
      padding-bottom:  1rem ;      
      h4 {
        font-family: 'Quicksand', sans-serif;
        color: $color-text-secondary;
        font-size: .7rem;
        letter-spacing: 1px;
      }
      p {
        font-family: 'Lora', serif;
        line-height: 1.8rem;
        font-size: 1.1rem;
        letter-spacing: 1px;
      }
      h1 {
        font-family: 'Lora', serif;
      }
    }
    .flex-block{
      @media all and (min-width: $tablet-width) {
        display: flex;
      }
      @media all and (max-width: $mobile-width) {
        display: block;
      }
      
      .image {
        order: 2;
        max-height: 100%;
        width: 100%;
        border-radius: 999px;
        display: flex;
        justify-content: center;
        padding: 2rem 0 ;
        // background-color: red;
          img {
            @media all and (max-width: $tablet-width) {
              width: 100%;
              height: 25rem;
            }
            padding: 1rem;
            max-width: 17rem;
            max-height: 100%;
            object-fit: cover;
            border-radius: 999px;
            border: 2px solid #f0f0f0;
        }
      }
      .text {
        @media all and (min-width: $tablet-width) {
          padding: 0 1rem;
        }
        text-align: left;
        order: 1;
        padding: 0 0.5rem;
        width: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .numbers {
        @media all and (min-width: $tablet-width) {
          padding: 0 1rem;
          text-align: right;
        }
        width: 20rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        order: 3;
        padding: 0 0.5rem;
        max-width: 30rem;
        justify-content: space-between;
      }
    }
    
    .logos{
      img {
        display: inline-block;
        height: 3.5rem;
        padding: 2rem;
      }
    }
  }
}
.advantage {
  @keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform:     translateY(0);
      transform:         translateY(0)
    }
    40% {
      -webkit-transform: translateY(-20px);
      -ms-transform:     translateY(-20px);
      transform:         translateY(-20px)
    }
    60% {
      -webkit-transform: translateY(-15px);
      -ms-transform:     translateY(-15px);
      transform:         translateY(-15px)
    }
  }
  padding: 0 .5rem;
  .container {
   
    margin-top: 4rem;
    
    padding-bottom: 3rem;
    h1 {
      font-family: 'Lora', serif;
    }
    .flex-block {
      margin-top: 5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .item {
        width: 9rem;
        .rounded {
          height: 15rem;
          border: $color-secondary 1px solid;
          border-radius: 999px;
          background-color: $color-secondary;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          img {
            -webkit-filter: grayscale(100%); 
              filter: grayscale(100%);
            width: 50%;
            max-height: 100px;
            object-fit: cover;
            -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  // animation-iteration-count: infinite;
  // -webkit-animation-iteration-count: infinite;
            transition: all ease 0.5s;
          }
          .fixheight{
            height: 100px;
          }
          .fixheight-react{
            height: 80px;
          }
          h1 {
            font-size: 2rem;
          }
        }
        p{

        }
        
        &:hover {
          img {
            -webkit-filter: grayscale(100%); 
              filter: grayscale(0%);
              animation-name: bounce;
  -moz-animation-name: bounce;
          }
        }
      }

    }
  }
}
.edu-and-ex{
  margin-bottom: 4rem;
  padding: 0 .5rem;
  .container {
    padding-top: 4rem;
    h1 {
      font-family: 'Lora', serif;
      margin-bottom: 5rem;
    }
    .row-flex {
      .column-flex {
        text-align: left;
        margin-bottom: 5rem;
        h6 {
          color: $color-text-secondary;
          font-size: 0.8rem;
        }
        .item {
          h5 {
            font-family: 'Lora', serif;
            font-size: 1.5rem;
          }
          p {
            display: none;
          }
        }
      }
    }
  }
}
.projects {
  margin-bottom: 4rem;
  padding: 0 .6rem;
  
  
  .container {
    .carousel {
      // background-color: red;
      width: 100%;
      height: 100%;
      position: relative;
      ul {
        li {
          // button {
            //   transform: translateY(10rem);
            //   display: block;
            // }
            .item {
              width: 100%;
              height: 100%;
              position: relative;
              .buttons{
              position: absolute;
              top: 0;
              bottom: 0;
              left: 0;
              
              
              
              padding-left: auto;
              padding-right: auto;
              button{
                display: inline-block;
                
              }
            }
            img {

              width: 100%;
              height: 20rem;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
.quotes {
  margin-bottom: 5rem;
  padding: 0 0.5rem;
  .container {
    padding-top: 2rem;
    .content {
      padding: 0 1.5rem;
      h1 {
        font-size: 2rem;
        font-family: 'Lora', serif;
      }
      p {
        font-size: 0.8rem;
        a {
          text-decoration: none;
          color: #0099ff
        }
      }
    }
  }
}
.contact {
  margin-bottom: 20rem;
  .container {
    padding: 0 .5rem;
    width: 100%;
    h1 {
      font-family: 'Lora', serif;
    }
    .flex-block{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        // padding: 0 .2rem;
        width: 19%;
      }
    }
    .call {
      margin-top: 4rem;
      text-align: left;
      padding: 5rem;
      // width: 15rem;
      overflow: hidden;
      // background-color: red;
      border-radius: 100%;
      // border: $color-secondary 1px dotted
      border-style: dotted;
      border-color: black;
      border: none;
      h1{
        font-size: 3rem;
      }
      img {
        width: 3rem;
        overflow: scroll;

      }
    }
  }
}